<div class="header">
    <header>
        <h1>Hello Guest!</h1>
        <nav class="header-nav">
            <div class="header-sites">
                <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                <a *ngIf="this.isLoggedIn()" routerLink="/profile" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Profile</a>
            </div>
            <div class="header-auth">
                <a *ngIf="this.isLoggedIn()" (click)="this.logout()" routerLink="/" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Logout</a>
                <a *ngIf="!this.isLoggedIn()" routerLink="/signup" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Signup</a>
                <form (ngSubmit)="this.login()" class="header-login-form">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" [(ngModel)]="formData.username" required>

                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" [(ngModel)]="formData.password" required>

                    <button type="submit" [disabled]="">Submit</button>
                </form>
            </div>
        </nav>
    </header>
</div>