.header {
    overflow: hidden;
    background: #023047;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.header h1 {
    margin-left: -10px;
    padding: 10px;
    display: inline-block;
}

.header a {
    text-decoration: none;
    color: #fff;
    background-color: #219ebc;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
    padding: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

.header input {
    padding: 10px;
    margin-top: 6px;
    font-size: 20px;
    border: none;
    margin-left: 2px;
    margin-right: 2px;
}

.header button {
    background-color: #219ebc;
    color: white;
    padding: 10px;
    margin-top: 8px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bold;
}

.header a:hover {
    /* background-color: #219ebc; */
    color: black;
}

.header a:active {
    background-color: #8ecae6;
    color: white;
}

.header-left {
    float: left;
    height: 100%;
}

.header-right {
    display: block;
    float: right;
    height: 100%;
}

.header-right a {
    float: right;
}

.header * {
    display: inline;
}
